{{#each questions}}
    <h4>this</h4>
    <h1>{{this}}</h1>
    <h4>topic</h4>
    <h1>{{this.topic}}</h1>
    <h4>questions</h4>
    <h1>{{questions}}</h1>
    <h4>quetop</h4>
    <h1>{{questions.topic}}</h1>
{{/each}}
{{#each this}}
    <h4>this</h4>
    <h1>{{this}}</h1>
    <h4>topic</h4>
    <h1>{{this.topic}}</h1>
    <h4>questions</h4>
    <h1>{{questions}}</h1>
    <h4>quetop</h4>
    <h1>{{questions.topic}}</h1>
    <h4>this.0</h4>
    <h1>{{this.0}}</h1>
    <h4>que.0</h4>
    <h1>{{questions.0}}</h1>
{{/each}}