{{!-- Aqui há o formulário para se adicionar uma nova questão 
ao banco de dados. Ele receberá cada uma das ropriedades 
necessárias e enviará como metodo "post" para o indexRoutes --}}
<h1>{{title}}</h1>

<form class="question" action="/queryquestion?show=true" method="GET">
  {{#if show}}
          <input class="form-control invisible" name="show" type="text" value="{{show}}"></input>
  {{/if}}

  <div class="form-group">
    <select id="inputSubject" class="form-control h4" name="subject" onchange="this.form.submit()">
        {{#each subject}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>

    {{#if classs}}
      <select id="inputClass" class="form-control h4" name="classs" onchange="this.form.submit()">
          {{#each classs}}
              <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
    {{/if}}

    {{#if topic}}
      <select id="inputTopic" class="form-control h4" name="topic" onchange="this.form.submit()">
          {{#each topic}}
              <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>
    {{/if}}
  </div>
  <a href="/queryquestion?show=true" class="pb-2 mb-2 btn btn-info" role="button">Recarregar</a>

</form>


  <form class="center-button" action="/searchquestions" method="POST">
    <a href="/searchquestions?show=true&subject={{subject}}&classs={{classs}}&topic={{topic}}" class="btn btn-info" role="button">Pesquisar</a>
    {{#if subject}}
            <input class="form-control invisible" name="subject" type="text" value="{{subject}}"></input>
    {{/if}}
    {{#if classs}}
            <input class="form-control invisible" name="classs" type="text" value="{{classs}}"></input>
    {{/if}}
    {{#if topic}}
          <input class="form-control invisible" name="topic" type="text" value="{{topic}}"></input>
    {{/if}}
  </form>
 
<form action="/viewquestion" method="POST">
  {{#if myBool}} 
      <h3 class="invisible question">{{questions.1.topic}}</h3>
      {{> aPartialQuestion questions }}
  {{/if}}
</form>



  
